@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

body {
  background-color: #355b3e;
  font-family: Inter;
}

button,
input {
  font-family: Inter;
}

@theme {
  --font-inter: Inter, 'sans-serif';
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #355b3e !important;
  caret-color: #355b3e !important;
  transition: background-color 9999s ease-in-out 0s;
}
